.btn {
  color: $text;
  font-family: "Neue Montreal";
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  width: auto;

  &__lg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;

    &.active {
      text-decoration: underline;
      color: $principal;

      @include for-phone-only {
        color: $text;
      }
    }
  }
}
