.btn {
  // margin: 2rem;
  margin-right: 2rem;
  color: $text;
  font-family: "Ethnocentric Rg";
  font-size: 2rem;
  display: flex;
  border: solid $button 2px;
  width: auto;
  height: 2em;
}

.btn__lg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.btn__lg.active {
  background-color: $button;
}
