// .projets {
//   font-family: "Neue Montreal";
//   font-weight: 500;
//   position: relative;

//   &__number {
//     color: $text;
//     font-size: 1.25rem;
//     margin: 0 0 5rem 10rem;
//     position: absolute;
//     top: 0;
//     left: 0;
//   }
//   &__separator {
//     color: $principal;
//   }

//   &__container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 80vh;
//     margin-bottom: 10rem;
//   }

//   &__wrapper {
//     display: flex;
//     flex-direction: column;
//     width: 80rem;
//   }
//   &__title {
//     color: $title;
//     font-size: 8rem;
//     text-transform: uppercase;
//     margin-bottom: 25rem;
//   }
//   &__subtitle {
//     color: $text;
//     font-size: 2rem;
//     text-transform: uppercase;
//   }
//   &__description {
//     color: $text;
//     line-height: 1.18;
//     text-transform: uppercase;
//     width: 30rem;
//     border-left: solid 2px $principal;
//     text-align: justify;
//     display: flex;

//     span {
//       margin-left: 0.5rem;
//     }
//   }
//   &__link {
//     font-size: 1.25rem;
//     color: $principal;
//     text-transform: uppercase;
//   }

//   &__content {
//     display: flex;
//     justify-content: space-between;
//   }
//   &__fleche {
//     margin-left: 8rem;
//     position: absolute;
//     bottom: 0;
//     @include for-phone-only {
//       height: 3.75rem;
//     }
//   }
// }

.projets {
  font-family: "Neue Montreal";
  font-weight: 500;
  position: relative;
  padding: 2rem;

  &__number {
    color: $text;
    font-size: 1rem;
    margin: 0 0 2rem 2rem;
    position: absolute;
    top: 0;
    left: 0;

    @include for-tablet-portrait-up {
      font-size: 1.25rem;
      margin: 0 0 5rem 10rem;
    }
  }

  &__separator {
    color: $principal;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-bottom: 5rem;

    @include for-tablet-landscape-up {
      min-height: 80vh;
      margin-bottom: 10rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
  }

  &__title {
    color: $title;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem;

    @include for-tablet-portrait-up {
      font-size: 5rem;
      margin-bottom: 15rem;
    }

    @include for-tablet-landscape-up {
      font-size: 8rem;
      margin-bottom: 25rem;
    }
  }

  &__subtitle {
    color: $text;
    font-size: 1.5rem;
    text-transform: uppercase;

    @include for-tablet-portrait-up {
      font-size: 2rem;
    }
  }

  &__description {
    color: $text;
    line-height: 1.18;
    text-transform: uppercase;
    width: 100%;
    max-width: 30rem;
    border-left: solid 2px $principal;
    text-align: justify;
    display: flex;
    margin-top: 1rem;

    span {
      margin-left: 0.5rem;
    }

    @include for-phone-only {
      font-size: 0.9rem;
    }
  }

  &__link {
    font-size: 1rem;
    color: $principal;
    text-transform: uppercase;
    margin-top: 1rem;

    @include for-tablet-portrait-up {
      font-size: 1.25rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include for-tablet-portrait-up {
      flex-direction: row;
      justify-content: space-between;
    }

    @include for-phone-only {
      gap: 3rem;
    }
  }

  // &__fleche {
  //   display: none;

  //   @include for-tablet-portrait-up {
  //     display: block;
  //     margin-left: 2rem;
  //     position: absolute;
  //     bottom: 0;
  //     height: 5rem;
  //   }

  //   @include for-tablet-landscape-up {
  //     margin-left: 8rem;
  //     height: auto;
  //   }

  //   @include for-phone-only {
  //     height: 3.75rem;
  //   }
  // }
  &__fleche {
    // margin-left: 8rem;
    // position: absolute;
    // bottom: 0;
    margin-top: 8rem;

    @include for-phone-only {
      display: none;
    }
  }
}
