// @font-face {
//   font-family: "Monument Extended";
//   src: url("./../../../public/assets/font/MonumentExtended-Regular.woff2")
//       format("woff2"),
//     url("./../../../public/assets/font/MonumentExtended-Regular.woff")
//       format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Ethnocentric Rg";
//   src: url("./../../../public/assets/font/EthnocentricRg-Regular.woff2")
//       format("woff2"),
//     url("./../../../public/assets/font/EthnocentricRg-Regular.woff")
//       format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Monument Extended";
  src: url("/assets/font/MonumentExtended-Regular.woff2") format("woff2"),
    url("/assets/font/MonumentExtended-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ethnocentric Rg";
  src: url("/assets/font/EthnocentricRg-Regular.woff2") format("woff2"),
    url("/assets/font/EthnocentricRg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/font2/NeueMontreal-BoldItalic.woff2") format("woff2"),
    url("public/assets/font2/NeueMontreal-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/font2/NeueMontreal-Bold.woff2") format("woff2"),
    url("/assets/font2/NeueMontreal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/font2/NeueMontreal-Regular.woff2") format("woff2"),
    url("/assets/font2/NeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/font2/NeueMontreal-Italic.woff2") format("woff2"),
    url("/assets/font2/NeueMontreal-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/font2/NeueMontreal-Medium.woff2") format("woff2"),
    url("/assets/font2/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/font2/NeueMontreal-LightItalic.woff2") format("woff2"),
    url("/assets/font2/NeueMontreal-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/font2/NeueMontreal-Light.woff2") format("woff2"),
    url("/assets/font2/NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("/assets/font2/NeueMontreal-MediumItalic.woff2") format("woff2"),
    url("/assets/font2/NeueMontreal-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
