$background: #091021;
$button: #001ee6;
$title: #d0e2ff;
$secondaryTitle: #88b1ff;
$text: #eeeef0;
$borders: #2556d4;
$principal: #0339f9;

$hamburger-layer-width: 40px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-color: $text;
$hamburger-layer-border-radius: 4px;
